<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>79936823455-8vbl6l1qudhgld5jnda5cl2oo2kg90l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79936823455-8vbl6l1qudhgld5jnda5cl2oo2kg90l0</string>
	<key>API_KEY</key>
	<string>AIzaSyAMWiie8JzxiKAfBj2gVxkOPmUyIp1xv-w</string>
	<key>GCM_SENDER_ID</key>
	<string>79936823455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Camacho.TrailTracker</string>
	<key>PROJECT_ID</key>
	<string>camacho-activity-center</string>
	<key>STORAGE_BUCKET</key>
	<string>camacho-activity-center.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79936823455:ios:61a7ea62657bdc1e</string>
	<key>DATABASE_URL</key>
	<string>https://camacho-activity-center.firebaseio.com</string>
</dict>
</plist>